.container {
    max-width: 1200px;
    margin: 0 auto;
}

.background-img {
    height: 100vh;
    background: url('../../img/metas.jpg') no-repeat;
    background-size: 100% auto;
    overflow: hidden;
}